/*Centra el contenido */
.centrado{
    position: relative;
    left: 30%;
}
.calificar_h1{ 
    text-align: center;
    font-size: 36px;
    color: #000000ea;
}

.calificar_messageError{
    color: #ff0000;
}








































#productTemplate {
    display: none;
}

.thumbnail {
    height: 340px;
}
