h1{ 
    text-align: center;
    font-size: 36px;
    color: #000000ea;
}

.messageError{
    color: #ff0000;
}








































#productTemplate {
    display: none;
}

.thumbnail {
    height: 340px;
}
